@model IEnumerable<MvcMovie.Models.Character>

@{
    string selCharId = "";
    string curCharName = "";
    if (HttpContext.Current.Cache[WebSecurity.CurrentUserId.ToString() + "characterid"] != null)
    {
        selCharId = HttpContext.Current.Cache[WebSecurity.CurrentUserId.ToString() + "characterid"] as string;
        curCharName = HttpContext.Current.Cache[WebSecurity.CurrentUserId.ToString() + "charactername"] as string;
    }
}

@*@Scripts.Render("~/Scripts/eveapi/CharacterManager.js")*@

<div style="width: 200px; padding-bottom: 20px; border: solid 1px red;">
    @Html.Hidden("character_id", selCharId)
    @Html.Hidden("character_name", curCharName)
    <div id="display_character_name">Current Character: @curCharName</div>
    <a href="#" id="open_character_dialog" style="float: right;">Select Character</a>
</div>

@* Character select dialog *@
<div id="select_character" title="Select Character" style="display: none; 1">
    <div id="selectable">
        @foreach (var m in Model)
        {
            <div class="ui-widget-content">
                @Html.Hidden("charid", m.characterID)
                @Html.Hidden("charname", m.characterName)
                @m.characterName
            </div>
        }
    </div>
    <div>
        @Html.ActionLink("Update", "UpdateCharacters")
    </div>
</div>
