@model IEnumerable<MvcMovie.Models.Character>

@{
    string selCharId = "";
    string curCharName = "";
    if (HttpContext.Current.Cache[WebSecurity.CurrentUserId.ToString() + "characterid"] != null)
    {
        selCharId = HttpContext.Current.Cache[WebSecurity.CurrentUserId.ToString() + "characterid"] as string;
        curCharName = HttpContext.Current.Cache[WebSecurity.CurrentUserId.ToString() + "charactername"] as string;
    }
}

<div style="width: 200px; padding-bottom: 20px; border: solid 1px red;">
    @Html.Hidden("character_id", selCharId)
    @Html.Hidden("character_name", curCharName)
    <div id="display_character_name">Current Character: @curCharName</div>
    <a href="#" id="open_character_dialog" style="float: right;">Select Character</a>
</div>

@* Character select dialog *@
<div id="select_character" title="Select Character" style="display: none; 1">
    <div id="selectable">
        @foreach (var m in Model)
        {
            <div class="ui-widget-content">
                @Html.Hidden("charid", m.characterID)
                @Html.Hidden("charname", m.characterName)
                @m.characterName
            </div>
        }
    </div>
    <div>
        @Html.ActionLink("Update", "UpdateCharacters")
    </div>
</div>

<script type="text/javascript">
    require(['main'], function () {
        //character selection - dialog
        $("#selectable").selectable({
            selected: function (event, ui) {
                // it is importend to have only one selected character
                $(ui.selected).siblings().removeClass("ui-selected");

                var selected = $(ui.selected).children();
                CharacterManager.set(selected[0].value, selected[1].value);

                $("#character_id").val(CharacterManager.getId());
                $("#character_name").val(CharacterManager.getName());
                $("#display_character_name").text("Current Character: " + CharacterManager.getName());

                // cache selected character data
                $.get("/EveApi/CacheCharacterId", { characterid: CharacterManager.getId(), charactername: CharacterManager.getName() });

                $("#select_character").dialog("close");
            }
        });

        $("#select_character").dialog({
            autoOpen: false,
            dialogClass: "no-close",
            modal: true,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "blind",
                duration: 1000
            }
        });

        $("#open_character_dialog").click(function () {
            $("#select_character").dialog("open");
        });

        if ($("#character_id").val() == "") {
            $("#select_character").dialog("open");
        } else {
            CharacterManager.set($("#character_id").val(), $("#character_name").val());
        }
    });
</script>
