<div id="stats">
    <div id="amountOfTransactons">
        Amount of Transactions: @ViewBag.amountOfTransactions
    </div>
    <div id="lastTransactionDate">
        Last Transaction Date: 
        <span style="color: red;">
            @ViewBag.lastTransaction
        </span>
    </div>
    <div id="oldestTransactionDate">
        Oldest Transaction Date: @ViewBag.oldestTransaction
    </div>
    <div id="amountOfJournalEntries">
        Amount of Journal Entries: @ViewBag.amountOfJournalEntries
    </div>
    <div id="lastJournalEntryDate">
        Last Journal Entry Date: 
        <span style="color: red;">
            @ViewBag.lastJournalEntry
        </span>
    </div>
    <div id="oldestJournalEntryDate">
        Oldest Journal Entry Date: @ViewBag.oldestJournalEntry
    </div>
</div>
